In [ ]:
#import pandas and numpy
import pandas as pd
import numpy as np

In [ ]:
#read the combined dataset
df = pd.read_csv("./../data/processed/weather_data_combined.csv")
df.head()

,ville,pays,continent,date,temperature,humidite,pression,precipitation,description,source,extracted_at,is_historical
0,Abuja,Nigeria,Afrique,2022-06-25,24.1,80,NaN,0.3,NaN,Open-Meteo,2025-07-01 15:21:16,True
1,Abuja,Nigeria,Afrique,2022-06-26,23.5,85,NaN,2.2,NaN,Open-Meteo,2025-07-01 15:21:16,True
2,Abuja,Nigeria,Afrique,2022-06-27,24.2,84,NaN,4.5,NaN,Open-Meteo,2025-07-01 15:21:16,True
3,Abuja,Nigeria,Afrique,2022-06-28,25.2,78,NaN,0.3,NaN,Open-Meteo,2025-07-01 15:21:16,True
4,Abuja,Nigeria,Afrique,2022-06-29,24.1,87,NaN,23.6,NaN,Open-Meteo,2025-07-01 15:21:16,True

In [ ]:
#check the type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54962 entries, 0 to 54961
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ville          54962 non-null  object
 1   pays           54962 non-null  object
 2   continent      54962 non-null  object
 3   date           54962 non-null  object
 4   temperature    54962 non-null  float64
 5   humidite       54962 non-null  int64
 6   pression       441 non-null    float64
 7   precipitation  54521 non-null  float64
 8   description    441 non-null    object
 9   source         54962 non-null  object
 10  extracted_at   54962 non-null  object
 11  is_historical  54962 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(7)
memory usage: 4.7+ MB

In [ ]:
#check the global statistic of the dataset
df.describe()

        temperature      humidite     pression  precipitation
count  54962.000000  54962.000000   441.000000   54521.000000
mean      19.117063     66.695007  1012.653061       2.591156
std        8.791600     19.314663     7.785756       6.555098
min      -25.200000      5.000000   993.000000       0.000000
25%       13.300000     56.000000  1008.000000       0.000000
50%       20.000000     72.000000  1013.000000       0.000000
75%       26.100000     81.000000  1018.000000       1.900000
max       44.160000    100.000000  1034.000000     161.700000

In [ ]:
#check the sum of null value of each column
df.isnull().sum()

ville                0
pays                 0
continent            0
date                 0
temperature          0
humidite             0
pression         54521
precipitation      441
description      54521
source               0
extracted_at         0
is_historical        0
dtype: int64

In [ ]:
#compare the null value of the historical and current data
print(df[df['is_historical'] == True][['pression', 'precipitation', 'description']].isnull().sum())
print(df[df['is_historical'] == False][['pression', 'precipitation', 'description']].isnull().sum())

pression         54521
precipitation        0
description      54521
dtype: int64
pression           0
precipitation    441
description        0
dtype: int64

In [16]:
print(df['date'].dtype)
df['date'] = pd.to_datetime(df['date'], errors='coerce')
print(df['date'].isnull().sum())

datetime64[ns]
0

In [19]:
df_2 = pd.read_csv("./../data/processed/cleaned_weather_data.csv")

In [21]:
df_2.tail(20)

,ville,pays,continent,date,temperature,humidite,pression,precipitation,source,extracted_at,is_historical
54942,Wellington,Nouvelle-Zélande,Océanie,2025-06-14,10.40,67,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54943,Wellington,Nouvelle-Zélande,Océanie,2025-06-15,8.70,80,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54944,Wellington,Nouvelle-Zélande,Océanie,2025-06-16,10.10,72,1016.222222,1.100000,Open-Meteo,2025-07-01 15:11:27,True
54945,Wellington,Nouvelle-Zélande,Océanie,2025-06-17,10.00,84,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54946,Wellington,Nouvelle-Zélande,Océanie,2025-06-18,9.50,83,1016.222222,0.100000,Open-Meteo,2025-07-01 15:11:27,True
54947,Wellington,Nouvelle-Zélande,Océanie,2025-06-19,12.50,87,1016.222222,5.600000,Open-Meteo,2025-07-01 15:11:27,True
54948,Wellington,Nouvelle-Zélande,Océanie,2025-06-20,13.10,71,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54949,Wellington,Nouvelle-Zélande,Océanie,2025-06-21,10.90,74,1016.222222,1.100000,Open-Meteo,2025-07-01 15:11:27,True
54950,Wellington,Nouvelle-Zélande,Océanie,2025-06-22,10.90,75,1016.222222,1.100000,Open-Meteo,2025-07-01 15:11:27,True
54951,Wellington,Nouvelle-Zélande,Océanie,2025-06-23,11.20,67,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54952,Wellington,Nouvelle-Zélande,Océanie,2025-06-24,11.70,80,1016.222222,0.000000,Open-Meteo,2025-07-01 15:11:27,True
54953,Wellington,Nouvelle-Zélande,Océanie,2025-06-25,14.57,78,1017.000000,2.878558,OpenWeatherMap,2025-06-25 23:19:39,False
54954,Wellington,Nouvelle-Zélande,Océanie,2025-06-26,14.77,90,1013.000000,2.878558,OpenWeatherMap,2025-06-26 21:43:05,False
54955,Wellington,Nouvelle-Zélande,Océanie,2025-06-27,12.21,89,1004.000000,2.878558,OpenWeatherMap,2025-06-27 20:42:48,False
54956,Wellington,Nouvelle-Zélande,Océanie,2025-06-28,10.97,91,1003.000000,2.878558,OpenWeatherMap,2025-06-28 06:50:13,False
54957,Wellington,Nouvelle-Zélande,Océanie,2025-06-29,10.84,77,1016.000000,2.878558,OpenWeatherMap,2025-06-29 22:09:37,False
54958,Wellington,Nouvelle-Zélande,Océanie,2025-06-30,5.81,87,1027.000000,2.878558,OpenWeatherMap,2025-06-30 17:15:15,False
54959,Wellington,Nouvelle-Zélande,Océanie,2025-07-01,8.81,87,1029.000000,2.878558,OpenWeatherMap,2025-07-01 10:55:23,False
54960,Wellington,Nouvelle-Zélande,Océanie,2025-07-02,11.33,71,1025.000000,2.878558,OpenWeatherMap,2025-07-02 06:24:17,False
54961,Wellington,Nouvelle-Zélande,Océanie,2025-07-03,9.91,93,1012.000000,2.878558,OpenWeatherMap,2025-07-03 15:19:14,False

In [22]:
df_2.describe()

        temperature      humidite      pression  precipitation
count  54962.000000  54962.000000  54962.000000   54962.000000
mean      19.117063     66.695007   1012.664546       2.590888
std        8.791600     19.314663      6.910555       6.530781
min      -25.200000      5.000000    993.000000       0.000000
25%       13.300000     56.000000   1008.555556       0.000000
50%       20.000000     72.000000   1013.444444       0.000000
75%       26.100000     81.000000   1018.000000       2.000000
max       44.160000    100.000000   1034.000000     161.700000